[Unit]
Description=TiltR
After=network.target
StartLimitIntervalSec=0
[Service]
Restart=always
RestartSec=20
TimeoutSec=infinity
User=YOUR_USER_WITH_DOCKER_PRIVILEGES
ExecStart=/path/to/tiltr/compose.py up --n 10
StandardOutput=journal
[Install]
WantedBy=multi-user.target
